
* {
    margin: 0;
    padding: 0;
  }
  

  header {
    background-color: rgb(148, 122, 242);
    padding: 1rem 0rem;
    text-align: center;
  }
  
  h1 {
    padding: 1rem 0rem;
  }
  
  .input-box {
    width: 20%;
    padding: 0.5rem 0rem;
  }
button {
    text-align: center;
   
  }
  .btn {
    margin: 2rem 3rem 2rem 0rem;
    padding: 0.25rem 0.4rem;
    background: black;
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  .btn:hover{
    background: white;
    color: black;
  }
  .ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .li {
    width: 30%;
    list-style: none;
    background: skyblue;
    margin: 0 auto;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    padding: 2rem;
  }
  
  .btn2 {
    text-decoration: none;
    background: black;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    color: white;
  }
 
  
  p{
    margin: 1rem 0rem;
  }
  .active{
    background: white;
    color: black;
  }
  .tags-display{
    display: flex;
    justify-content: center;
  }